# Frontend
node_modules/
.next/

# Environment variables
.env
.env.local
.env.production

# Python compiled files
**/__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/

# Django
acumen_backend/db.sqlite3
acumen_backend/staticfiles/
acumen_backend/.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
*.log

# P~revent zip files
*.zip